  html {
    scroll-behavior: smooth;
  }
  
/*HOME*/  
  body{
    background-color:#ECEFF1;
  }

  header{
      background-color: white;
  }

  .Espaciado{
      padding-top: 40px;
      padding-bottom: 10px;
  }
  
  .Espaciado2{
      padding: 10px 25px 25px 25px ;
  }

  .Espaciado3{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .EspaciadoNavbar{
    padding-top: 7.5%;
  }

  
  
  .icono{
      float: left;
      height: auto;
      width: auto;
      color:white;
      padding: 2px 5px 5px 5px;
  }
  
  .ImgIzq{
      padding-right: 0px;
      padding-top: 10px;
      padding-bottom: 10px;
      float: left;
  }
  
  img{
    transition: .75s ease;
  }

  .hoverFoto img:hover {
      opacity: 0.6;
  }
  
  .TamanioAjustado{
       width: 100%; height: auto;
  }

  .card{
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    /*box-shadow: 10px 10px 5px rgb(216, 216, 216);*/
  }

  .card-img-top {
    width: 100%; height: 30vw; object-fit: cover;
  }

  .card-title {
    font-weight: 600;
  }

  .card-text {
    margin-bottom: 1%;
  }
  
  h6{
      padding: 10px 0px 10px 15px;
  }

  .fecha{
    font-size: 80%;
    opacity: 0.5;
    margin-top: 5%;
  }

  /*NUEVO ANUNCIO*/

  .margen{
      margin-top: 20px;
  }

  .margen2{
    margin-left: 5%;
    margin-right: 5%;
  }

  .redondeado{
    border-radius: 10px;
  }

  .contenedorBonito{
    background:white;
    border-radius: 20px;
    min-height:40vh;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
  }


  /*SING IN*/

  .centro{
    justify-content:center;
    text-align: center;
  }
  
  
  @media (max-width: 576px) {
    .card-img-top {
      height: 60vw;
    }

    .card{
      margin: 10px 50px 10px 50px;
      border-radius: 4.5%;
      /*box-shadow: 10px 10px 5px rgb(216, 216, 216);*/
    }

    .EspaciadoNavbar{
      padding-top: 200px;
    }

    .EspaciadoNavbar2{
      padding-top: 100px;
    }
  }
  
  @media (min-width: 577px) and (max-width: 768px) {
    .card-img-top {
      height: 50vw;
    }

    .card{
      margin: 10px 50px 10px 50px;
      border-radius: 4.5%;
      /*box-shadow: 10px 10px 5px rgb(216, 216, 216);*/
    }

    .EspaciadoNavbar{
      padding-top: 200px;
    }

    .EspaciadoNavbar2{
      padding-top: 100px;
    }
  }
  
  @media (min-width: 769px) and (max-width: 992px) {
    .card-img-top {
      height: 50vw;
    }

    .card{
      margin: 10px 100px 10px 100px;
      border-radius: 4.5%;
      /*box-shadow: 10px 10px 5px rgb(216, 216, 216);*/
    }

    .EspaciadoNavbar{
      padding-top: 175px;
    }

    .EspaciadoNavbar2{
      padding-top: 100px;
    }
  }
  
  @media (min-width: 993px) and (max-width: 1200px) {
  
  }

  #link{
    color: black;
    text-decoration: none;
  }

  .container{
    margin-top: 80px;
}
header .container{
    margin-top:0px;
}
.form-floating{
    width: 300px;
}
.elecc{
    align-items: center;
}
div .mb-3{
    margin: 0 auto;
}
.ti{
    text-align: center;
    font-weight: bold;		
}
.elecc1{
    border-right: 1px solid lightgray;
}
.ini input{
    border-radius: 20px;
}
.ini button{
    width: 100%;
    border-radius: 20px;
}
.env{
    width: 250px;
}

@media only screen and (max-width : 992px) {
    .elecc1{
        border-right: none;
        border-bottom: 1px solid lightgray;
        padding-bottom: 20px;
    }
    .elecc2{
        margin-top: 20px;
    }
}

.favorito{
  background: none;
  border: none;
  outline: none;
}
.active{
  
  fill: #ff455a;
}
.active-nav{
  color: #00c1ab;
  border-bottom: 2px solid #00c1ab;
}
.nav-link:hover{
  color: #00c1ab;
}
body{
  font-family: 'Wallie', 'Helvetica', 'Arial', sans-serif;
}

.like-icon{
  margin-top: -93px;
}

.dropdown-el {
  margin-top: 20vh;
  min-width: 12em;
  position: relative;
  display: inline-block;
  margin-right: 1em;
  min-height: 2em;
  max-height: 2em;
  overflow: hidden;
  top: 0.5em;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  color: white;
  outline: none;
  border: 0.06em solid transparent;
  border-radius: 30px;
  background-color: #00c2ac;
  transition: 0.3s all ease-in-out;
}
.dropdown-el input:focus + label {
  background: #def;
}
.dropdown-el input {
  width: 1px;
  height: 1px;
  display: inline-block;
  position: absolute;
  opacity: 0.01;
}
.dropdown-el label {
  border-top: 0.06em solid #d9d9d9;
  display: block;
  height: 2em;
  line-height: 2em;
  padding-left: 1em;
  padding-right: 3em;
  cursor: pointer;
  position: relative;
  transition: 0.3s color ease-in-out;
}
.dropdown-el label:nth-child(2) {
  margin-top: 2em;
  border-top: 0.06em solid #d9d9d9;
}
.dropdown-el input:checked + label {
  display: block;
  border-top: none;
  position: absolute;
  top: 0;
  width: 100%;
}
.dropdown-el input:checked + label:nth-child(2) {
  margin-top: 0;
  position: relative;
}
.dropdown-el::after {
  content: "";
  position: absolute;
  right: 0.8em;
  top: 0.9em;
  border: 0.3em solid #00c2ac;
  border-color: #00c2ac transparent transparent transparent;
  transition: 0.4s all ease-in-out;
}
.dropdown-el.expanded {
  color: black;
  border: 0.06em solid #00c2ac;
  background: #fff;
  border-radius: 20px;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
  max-height: 15em;
}
.dropdown-el.expanded label {
  border-top: 0.06em solid #d9d9d9;
}
.dropdown-el.expanded label:hover {
  color: #00c2ac;
}
.dropdown-el.expanded input:checked + label {
  color: #00c2ac;
}
.dropdown-el.expanded::after {
  transform: rotate(-180deg);
  top: 0.55em;
}
