  html {
    scroll-behavior: smooth;
  }
  
/*HOME*/  
  body{
    background-color:#ECEFF1;
  }

  header{
      background-color: white;
  }

  .Espaciado{
      padding-top: 40px;
      padding-bottom: 10px;
  }
  
  .Espaciado2{
      padding: 10px 25px 25px 25px ;
  }

  .Espaciado3{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .EspaciadoNavbar{
    padding-top: 7.5%;
  }

  
  
  .icono{
      float: left;
      height: auto;
      width: auto;
      color:white;
      padding: 2px 5px 5px 5px;
  }
  
  .ImgIzq{
      padding-right: 0px;
      padding-top: 10px;
      padding-bottom: 10px;
      float: left;
  }
  
  img{
    transition: .75s ease;
  }

  .hoverFoto img:hover {
      opacity: 0.6;
  }
  
  .TamanioAjustado{
       width: 100%; height: auto;
  }

  .like-icon{
    margin-top: -90px;
  }

  .card-home{
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    /*box-shadow: 10px 10px 5px rgb(216, 216, 216);*/
  }

  .card-perfil{
    margin: 10px auto;
    border-radius: 20px;
    width: 200px;
    height: auto;
  }
 
  .card-img-home {
    width: 100%; height: 30vw; object-fit: cover;
  }

  .card-img-top-perfil{
    /*border-top-left-radius: 10px;
    border-top-right-radius: 10px;*/
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .card-title {
    font-weight: 600;
  }

  .card-text {
    margin-bottom: 1%;
  }
  
  .fotoperfil {
    width: 100%; height: 100%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .container-foto{
    display:block;
    margin:auto;
    width: 190px;
    height: 190px;

  }
  .usuario{
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    margin-top: 1%;
  }

  .BtnBorrarAnuncio{
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
  }

  h6{
      padding: 10px 0px 10px 15px;
  }

  .fecha{
    font-size: 80%;
    opacity: 0.5;
    margin-top: 5%;
  }

  /*NUEVO ANUNCIO*/

  .margen{
      margin-top: 20px;
  }

  .margen2{
    margin-left: 5%;
    margin-right: 5%;
  }

  .redondeado{
    border-radius: 10px;
  }

  .contenedorBonito{
    background:white;
    border-radius: 20px;
    min-height:40vh;
    margin: 0 auto;
    padding: 30px 20px 20px 20px;
  }
  .contenedorBonito-perfil{
    margin-left: 100px;
    margin-right: 100px;
    background:white;
    border-radius: 20px;
    min-height:40vh;
    padding: 30px 20px 20px 20px;
  }



  /*SING IN*/

  .centro{
    justify-content:center;
    text-align: center;
  }

  #link{
    color: black;
    text-decoration: none;
  }

  .container{
    margin-top: 80px;
}
header .container{
    margin-top:0px;
}
.form-floating{
    width: 300px;
}
.elecc{
    align-items: center;
}
div .mb-3{
    margin: 0 auto;
}
.ti{
    text-align: center;
    font-weight: bold;		
}
.elecc1{
    border-right: 1px solid lightgray;
}
.ini input{
    border-radius: 20px;
}
.ini button{
    width: 100%;
    border-radius: 20px;
}
.env{
    width: 250px;
}

@media only screen and (max-width : 992px) {
    .elecc1{
        border-right: none;
        border-bottom: 1px solid lightgray;
        padding-bottom: 20px;
    }
    .elecc2{
        margin-top: 20px;
    }
}

.favorito{
  background: none;
  border: none;
  outline: none;
}
.active{
  
  fill: #ff455a;
}
.active-nav{
  color: #00c1ab;
  border-bottom: 2px solid #00c1ab;
}
.nav-link:hover{
  color: #00c1ab;
}
body{
  font-family: 'Wallie', 'Helvetica', 'Arial', sans-serif;
}



.galeria-anuncio{
  padding: 2%;
}

.galeria-anuncio-div{
  margin: 2% 20%;
}

.card-item-extra-info{
  display: flex;
  padding: 12px 0px;
  border-bottom: 1px solid #ECEFF1;
  flex-wrap: wrap;
}

.card-item-extra-info .card-item-extra-info-block {
  flex-grow: 1;
  min-width: 50%;
  height: 28px;
  display: flex;
  align-items: center;
}

#map {
  height: 100%;
  border-radius: 20px;
}

.mapa{
  height: 500px;
  width: 800px;
  margin: 30px auto;
  padding: 0;
  border-radius: 20px;
}

.top-infor-anuncio{
  padding-top: 4%;
  border-bottom: 1px solid #ECEFF1;
}

.carousel-control-prev{
  background:none;
  border: none;
}
.carousel-control-next{
  background:none;
  border: none;
}

.carousel-anuncio{
  max-height: 330px;
  overflow: hidden;
}

.carousel-anuncio #carousel-anuncio-img{
  width: 100%;
  height: auto;
}

#text-area-mensaje{
  height: 100%;
}

.bloque-mensaje{
  height: 100px !important;
}


@media (max-width: 576px) {
  .card-img-home{
    height: 60vw;
  }

  .card-home{
    margin: 10px 50px 10px 50px;
    border-radius: 10px;
    /*box-shadow: 10px 10px 5px rgb(216, 216, 216);*/
  }

  .EspaciadoNavbar{
    padding-top: 200px;
  }

  .EspaciadoNavbar2{
    padding-top: 100px;
  }

  .contenedorBonito-perfil{
    margin-left: 0px;
    margin-right: 0px;
    background:white;
    border-radius: 20px;
    min-height:40vh;
    padding: 30px 20px 20px 20px;
  }

  .card-perfil{
    margin: 10px auto;
    border-radius: 20px;
    width: 150px;
    height: auto;
  }

  .mapa{
    height: 300px;
    width: 310px;
    margin: 10px auto;
    padding: 0;
    border-radius: 20px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .card-img-home{
    height: 50vw;
  }

  .card-home{
    margin: 10px 50px 10px 50px;
    border-radius: 10px;
    /*box-shadow: 10px 10px 5px rgb(216, 216, 216);*/
  }

  .EspaciadoNavbar{
    padding-top: 200px;
  }

  .EspaciadoNavbar2{
    padding-top: 100px;
  }

  .contenedorBonito-perfil{
    margin-left: 0px;
    margin-right: 0px;
    background:white;
    border-radius: 20px;
    min-height:40vh;
    padding: 30px 20px 20px 20px;
  }

  .mapa{
    height: 300px;
    width: 450px;
    margin: 10px auto;
    padding: 0;
    border-radius: 20px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .card-img-home{
    height: 50vw;
  }

  .card-home{
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
    /*box-shadow: 10px 10px 5px rgb(216, 216, 216);*/
  }

  .EspaciadoNavbar{
    padding-top: 175px;
  }

  .EspaciadoNavbar2{
    padding-top: 100px;
  }

  .contenedorBonito-perfil{
    margin-left: 0px;
    margin-right: 0px;
    background:white;
    border-radius: 20px;
    min-height:40vh;
    padding: 30px 20px 20px 20px;
  }

  .like-icon{
    margin-top: -50px;
  }

  .mapa{
    height: 400px;
    width: 540px;
    margin: 10px auto;
    padding: 0;
    border-radius: 20px;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {

  .mapa{
    height: 400px;
    width: 560px;
    margin: 10px auto;
    padding: 0;
    border-radius: 20px;
  }

}

.resultados{
  margin-left: 10px;
  font-weight: bolder;
}