{% extends "base.html" %}
{% block title %}Perfil{% endblock %}
{% block content %}


<div class="container hoverFoto fondo EspaciadoNavbar2">
    <div class="contenedorBonito-perfil">
        <div class=" justify-content-center container-foto  ">
            <img  class=" fotoperfil" src="{{ moreinfo.foto_perfil.url}}" alt="Foto de perfil" >
        </div>
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
			{{form.as_p}}
            <button name='delete' type="submit" value = '{{foto.anuncio.id}}' class="btn btn-primary">Guardar cambios</button>
		</form>

    </div>
	
</div>
{% endblock %}
