{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}

{% load myfilters %}

<h3 class="ti Espaciado">Registrarse</h3>
<div class="centro Espaciado3">
  <form action='.' method='POST' id="inis"  class=" mb-3 needs-validation ini">{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-floating mb-3">
      {{form.username|addclass:'form-control'}}
      {{form.username.label_tag}}
      {{ form.username.errors }}
    </div>
    <div class="form-floating mb-3">
      {{form.email|addclass:'form-control'}}
      {{form.email.label_tag}}
      {{ form.email.errors }}
    </div>
    <div class="form-floating mb-3">
      {{form.password1|addclass:'form-control'}}
      {{form.password1.label_tag}}
      {{ form.password1.errors }}
    </div>
    <div class="form-floating mb-3">
      {{form.password2|addclass:'form-control'}}
      {{form.password2.label_tag}}
      {{ form.password2.errors }}
    </div>
    <div class="form-floating mb-3 env">
      <button class="btn btn-primary" type="submit">Registrarse</button>
    </div>
  </form>
</div>

{% endblock %}