{% extends "base.html" %}
{% block title %}Anuncios guardados{% endblock %}
{% block content %}
{% load cloudinary %}
{% cloudinary_includes %}
<div class="container hoverFoto fondo EspaciadoNavbar2">
  {% if fotos%}
  {%for foto in fotos%}
  {% if forloop.counter0|divisibleby:3 %}<div class="row">{% endif %}
    <div class="col-12 col-md-6 col-xl-4">
      <div class="card card-home shadow">
        <a id='link' href="{% url 'detail' foto.anuncio.id%}">
          <h6 class="card-title">{{foto.anuncio.user}}</h6>
          <img  class="card-img-top card-img-home" src="{{foto.image.url}}" alt="pero" > 
          <div class="card-body">
            <h5 class="card-title">{{foto.anuncio.titulo}}</h5>
            <p class="card-text">{{foto.anuncio.descripcion}}</p>
          </div>
        </a>
      </div>
    </div>
  {% if forloop.counter|divisibleby:3 or forloop.last %}</div>{% endif %}
  {%endfor%}
  {%else%}
  <h4>No hay anuncios guardados</h4>
  {% endif %}
</div>
{% endblock %}