{% extends "base.html" %}
{% block title %}Detalles Anuncio{% endblock %}
{% block content %}
{% load cloudinary %}
{% cloudinary_includes %}
{% load myfilters %}
<div class="EspaciadoNavbar">

    <div class="card text-center galeria-anuncio-div bordeRedondeado ">
        
        <div class="card-body">
            <a id='link' href="{% url 'perfiluser' anuncio.user.id%}">
                <p class="textoIzq" style="font-size: 1.5em"><img style='margin-right: 7px;' src="../../media/{{moreinfo2.foto_perfil}}" alt="mdo" width="45" height="45" class="rounded-circle"><b>@{{anuncio.user}}</b></p>
            </a>
            <div class="container-detail clearfix">
                <!--Galeria de fotos-->
                <div id="carouselExampleControls" class="carousel slide carousel-anuncio shadow bordeRedondeado" data-bs-ride="carousel">
                    <div class="carousel-inner col-12 col-md-6">
                        {%for foto in fotos%}
                        <div class="carousel-item {% if forloop.first %} active {%endif%}" >
                            <img src="../../media/{{foto.image}}" class="d-block w-100 img-fluid " alt="..." id="carousel_anuncio">
                        </div>
                        {%endfor%}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="card-product-detail">
                    <div class="row top-info-anuncio">
                        <div class="col-12 titulo-anuncio">
                            <p>{{anuncio.titulo}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 textoIzq letra">
                            <p>{{anuncio.descripcion}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 textoIzq">
                            <p><b>Raza:</b> {{anuncio.raza}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 textoIzq">
                            <p><b>Sexo:</b> {{anuncio.sexo}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 textoIzq">
                            <p><b>Edad:</b> {{anuncio.edad}}</p>
                        </div>
                    </div>
                    <div">
                        <p style="font-size: 1.75em; color: #00c1ab;"><b>Mensaje</b></p>
                    </div>
                    <div>
                        <!--<input type="text" name="mensaje-anuncio" maxlength="300" id="mensaje-anuncio">-->
                        <form action="" method="post">{% csrf_token %}
                            {{form.mensaje}}
                            <button class="btn btn-primary margen-arriba" type="submit">Enviar mensaje</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
{% endblock %}
