{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {# Cargamos la librería #}
	{% load bootstrap5 %}
	{# CSS Bootstrap #}
	{% bootstrap_css %}
	{% load myfilters %}
		<!-- https://material.io/resources/icons/?style=baseline -->
	<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
	<!-- https://material.io/resources/icons/?style=outline -->
	<link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
	<!-- https://material.io/resources/icons/?style=round -->
	<link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round" rel="stylesheet">
	<!-- https://material.io/resources/icons/?style=sharp -->
	<link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp" rel="stylesheet">
	<!-- https://material.io/resources/icons/?style=twotone -->
	<link href="https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'filters.css' %}">
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<!-- <link href="{% static 'corazon.css' %}" rel="stylesheet">-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
	<script>
		
		console.log('{{moreinfo.ciudad}}')
		let map;
	  	
		function initMap(lat, lng) {
			console.log(lng)
		  map = new google.maps.Map(document.getElementById("map"), {
			center: { lat: lat, lng: lng },
			zoom: 14,
		  });
		}
		const results = fetch('https://maps.googleapis.com/maps/api/geocode/json?address={{moreinfo.calle}},+{{moreinfo.ciudad}}&key=AIzaSyB6JnbGAHckKZtpI6K5MMIwyl22nGsm-JQ')
  		.then(res => res.json())
  		.then(data => initMap(data.results['0'].geometry.location.lat, data.results['0'].geometry.location.lng))
		
		
		
		
		
	  </script>
</head>
<body>
	{% if user.is_authenticated %}
	{%include 'navbar.html'%}
	{% endif %}
	
	
	{% block content %}{% endblock %}
	<script src="https://cdn.jsdelivr.net/mojs/latest/mo.min.js"></script>
	<script src="{% static 'filters.js' %}"></script>
	<script src="{% static 'script.js' %}"></script>
	<script src="{% static 'maps.js' %}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6JnbGAHckKZtpI6K5MMIwyl22nGsm-JQ&callback=initMap&libraries=&v=weekly" async ></script>
</body>
</html>
