{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
{% if user.is_authenticated %}

{% endif %}


<div class="container hoverFoto">
  
  {%for anuncio in anuncios_todos%}
  <div class="row" >
    <a id='link' href="{% url 'detail' anuncio.id%}">
    <div class="col-12 col-md-6 col-xl-4">
      <h3 class="Espaciado">{{anuncio.titulo}}(raza maybe)</h3>
    <img class="ImgIzq TamanioAjustado" src="peroto.jpg">
    <p class="text-justify">
      {{anuncio.descripcion}}
    </p>
    </div>
    </a>  
    
  </div>
  
  {%endfor%}
</div>
{% endblock %}
