{% load cloudinary %}
{% cloudinary_includes %}
<header class="p-2 mb-3 border-bottom fixed-top">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="20" height="1"><use xlink:href="#bootstrap"/></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'home' %}" class="{% if page == "index" %}active-nav {% endif %}nav-link px-2 link-dark">Home</a></li>
        <li><a href="{% url 'like' %}" class="{% if page == "like" %}active-nav {% endif %}nav-link px-2 link-dark">Anuncios guardados</a></li>
      </ul>

      <form action='/' method = 'GET' class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input name='search' type="search" class="form-control" placeholder="Search...">
      </form>

      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="../../media/{{moreinfo.foto_perfil}}" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="{% url 'create' %}">Nuevo anuncio</a></li>
          <li><a class="dropdown-item" href="{% url 'perfil' %}">Perfil</a></li>
          <li><a class="dropdown-item" href="{% url 'ajustes' %}">Ajustes</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
